* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100px;
    margin: 0 40px;
    font-size: 20px;
    font-weight: bold;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 300px);
    font-size: 32px;
    color: #616161;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 0 60px;
    background-color: #f2f2f2;
    color: #616161;
}
.footer-right {
    text-align: right;
}
